#name {text-align: center;
    color: white;
    background-color: darkslategray;
    height: 40px;
    width: 35%;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;}

#wrapper {background-color: white; padding: 20px; margin: 20px;}
#wrapper img {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;}
#bioText {font-family: 'Montserrat', sans-serif;}

#wrapper2 {background-color: white; padding: 20px; margin: 20px;}
.img {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;}
.img-text {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
    background: darkslategray;
    text-align: center;
    font-size: large;
    color: white;}

#wrapper3 {background-color: white; padding: 20px; margin: 20px;}

#bottomFoot {position: fixed;
    bottom:0;
    width:100%;
    height:60px;
    background: white;}